html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }
  h1{
    color: #7ba9ff;
    display: inline-block;
    width: 80%;
  }

  body{
    background-color: rgb(39, 39, 39);
  }
  p{
    font-size: 1.5rem;
    margin-bottom: 0px;
    color: lightgray;
  }

  .headder{
    background-color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }



  .settings_button{
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 8px;
    margin: auto;
    color: whitesmoke;
    background-color: #1d1d1d;
  }

  .settings_button:active{

    background-color: #000000;
  }


  .controls{
    background-color: black;
    display: inline-block;
    width: 380px;
  }

  .controls2{
  padding-left: 20px;
  padding-right: 20px;
  }

  .disable-dbl-tap-zoom {
    touch-action: manipulation;
  }


  .button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: rgb(190, 190, 190);
    padding: 10px 5px;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;
    width: 45%;
    font-size: 23px;
    background-color: #0057ba;
  }

  .button2{
    width: 70%;
  }

  .buttonSelected {
    background-color: #003674;
    color: rgb(255, 255, 255);
    /* border: 4px, solid, white !important; */
    /* text-decoration:underline; */
  }

  .buttonNotSelected {
    background-color: #0057ba;
    /* border: none; */
  }

  .buttonRedNotSelected{
    background-color: #880000;
    /* border: none; */
  }
  .buttonRedSelected{
    background-color: #5f0000;
    color: rgb(255, 255, 255);
    /* border: 4px, solid, white !important; */
  }

  .tempButton {
    width: 80px;
    height: 50px;
    font-family: 'Zapf Dingbats';
  }

  .up{
    background-color: hsl(350, 93%, 30%);
    border: none;
    color: white;
    content:"\2191" ;
    font-size: 2rem;
    font-weight: bolder;
    font-family:monospace;
  }
  .up:hover{
    background-color: hsl(350, 93%, 25%);
  }
  .up:active{
    background-color: hsl(350, 93%, 20%);
  }

  .status{
    display: flex;
    justify-content: space-around;
    
    color: white;
  }

  .statusElement{
    color: red;
  }

  .statusElementOn{
    color: green;
  }

  .down{
    background-color: hsl(212, 62%, 55%);
    border: none;
    color: white;
    content:"\2191" ;
    font-size: 2rem;
    font-weight: bolder;
    font-family:monospace;
  }
  .down:hover{
    background-color: hsl(212, 62%, 50%);
  }
  .down:active{
    background-color: hsl(212, 62%, 45%);
  }
  
  .sensor_div{
    display: flex;
    justify-content: space-around;
  }

  .sensor_val_container{
    display: inline-block;
    width: 33%;
  }

  .sensor_title{
    color: white;
  }

  .sensor_value{
    color: white;
  }

  .temperature{
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
  }







  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #1a1a1a;
  margin: auto;
  padding: 0px;
  border: 1px solid #888;
  width: 300px;
  height: 500px;
  border-radius: 10px;;
}

/* The Close Button */
.close {
  display: block;
  width: 50px;
  height: 50px;
  color: #e6e6e6;
  float: right;
  font-size: 60px;
  font-weight: bold;
}

input{
  font-size: 20px;
}

.submitBtn{
  width: 80%;
  margin-top: 10px;
  font-size: 1.2rem;
}

.close:hover,
.close:focus {
  color: #d8d8d8;
  text-decoration: none;
  cursor: pointer;
}

.modalForm{
  display: inline-block;
  font-size: 20px;
  margin-top: 30px;;
  color: whitesmoke
}

.modalHeader{
  display: block;
  height: 50px;
}

.cycle_timing {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  padding: 10px;
  background-color: #1a1a1a;
  border-radius: 8px;
}

.timing_control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.2rem;
  color: lightgray;
}

.timing_value {
  min-width: 80px;
  text-align: center;
  color: #7ba9ff;
  font-weight: bold;
}

.firmware_update {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: #1a1a1a;
  border-radius: 8px;
  margin-top: 15px;
}

.file-input {
  padding: 10px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 4px;
  color: lightgray;
  font-size: 1rem;
}

.upload-btn {
  margin-top: 10px;
}

.progress-container {
  width: 100%;
  background-color: #2a2a2a;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: 30px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #7ba9ff;
  width: 0%;
  transition: width 0.3s ease;
}

#progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.upload-status {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}

.wifi_settings {
  padding: 15px;
  background-color: #1a1a1a;
  border-radius: 8px;
  margin-top: 15px;
}

.wifi_settings form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wifi_settings label {
  color: lightgray;
  font-size: 1.2rem;
}

.wifi_settings input[type="text"] {
  padding: 10px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 4px;
  color: lightgray;
  font-size: 1rem;
}

.note {
  font-size: 0.9rem;
  color: #999;
  font-style: italic;
  margin-top: 10px;
  display: block;
}

.system_info {
  padding: 15px;
  background-color: #1a1a1a;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 0.95rem;
}

.info_row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #2a2a2a;
}

.info_row:last-child {
  border-bottom: none;
}

.info_label {
  color: #999;
  font-weight: 500;
}

.info_value {
  color: #7ba9ff;
  font-weight: 600;
  text-align: right;
  word-break: break-all;
}